# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log

# Virtual environment
venv/
env/

# Django specific
db.sqlite3
media/
staticfiles/
*.pot
*.py[cod]
*.sqlite3
*.env

# React specific
node_modules/
build/
dist/
.npm/
.eslintcache

# Logs
*.log
logs/
*.pid

# Environment variables
.env
.env.local
.env.*.local

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Deployment files
*.dockerfile
Dockerfile
docker-compose*

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Byte-compiled and other cached files
*.swp
*.swo
*.bak
*.tmp

# Testing
.coverage
.tox/
.nox/
*.egg-info/

# Miscellaneous
*.~undo-tree~
*.un~
*.stackdump

E:\Github\admin-dashboard-1746788615697-a692640a7b2c.json
